VITE_FIREBASE_API_KEY=AIzaSyCiDBBfb9xIMJgjls9J3zTtKvvQ2ORFju8
VITE_FIREBASE_AUTH_DOMAIN=quiz-cbt-e8b0b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=quiz-cbt-e8b0b
VITE_FIREBASE_STORAGE_BUCKET=quiz-cbt-e8b0b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=410964747156
VITE_FIREBASE_APP_ID=1:410964747156:web:016793626ed944a6cb6581
VITE_FIREBASE_MEASUREMENT_ID=G-0PBM6RPE45
